	@font-face {
		font-family: 'retro';
		src: url('Retro.ttf') format('trueType');
	}
	/* Element */ 
	p {
		font-size: 1em;
		font-family: 'retro', Arial;
	}

	/* id */ 
	#toctitle {
		color: red;
	}

	/* Element + classe */
	li.toclevel-1{
		padding: 3px 0;
	}

	/* class */ 
	.thumb {
		float: right;
	}

	/* Sélecteurs descendants */ 
	ul li a {
		text-decoration: none;
		color: #000;
	}

	ul li:first-child {
		letter-spacing: 1em;
	} 

	ul li:last-child {
		line-height: 2em;
	}
	
	/* Sélecteurs groupés */ 
	h1, h2, h3, h4, h5 {
		text-align: center;
		font-size: 23px;
		font-weight: bold;
		border-bottom: 1px solid #ccc;
	}
	
	h1 {
		text-transform: uppercase;
	}

	h2 {
		font-variant: small-caps;
	} 

	i {
		font-style: italic;
	}